*.iml
.gradle
app/.idea/*.xml
app/.idea/libraries/*.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/.idea/caches/*.*
app/gradle/wrapper/*.*
*.apk
app/release/*.*
app/debug/*.*

